---
---
@use "sass:map";
@use "sass:math";

@import 'bootstrap/bootstrap';
// @import 'variables';
// @import 'bootswatch';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


@font-face {
  font-family: 'xylosuite title';
  src: url('/fonts/Exo2-VariableFont_wght.ttf');
}

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

html {
  font-size: '16px',
}

body {
  background-image: url(/img/topography.png);
  position: relative;
  min-height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  color: #1b5e20;
}

h2 {
  font-weight: 100;
  background-color: $green;
  padding: $spacer * .25;
  color: $white;
}
#header-top {
  background-color: rgba(255, 255, 255, 0);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-home {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 100vh;
  border-bottom: solid 8px #d7d6e4;
}

#header-bottom {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 50vh;
  border-bottom: solid 8px #d7d6e4;
}

.sticky-nav {
  // background-image: url(/img/topography.png);
  position: sticky;
  top: 0px;
  z-index: 100;
}

// .sticky-bg {
//   position: sticky;
//   position: -webkit-sticky;
//   top: 55px;
//   height: 85vh;
//   border-bottom: solid 8px #d7d6e4;
// }

.img-logo {
  height: 36px;
}

.img-logo-xl {
  height: 48px;
}

.xylosuite-title {
  font-family: $font-family-xylosuite;
  text-align: left;
}

.style2 {
  border-top: 1px solid rgba(76, 175, 80, 0.5);
}

p, strong {
  > a {
    text-decoration: underline;
  }
}

h3 {
  a: {
    color: inherit;
  }
  > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: rgba(76,175,80 ,1) !important;
  }
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    h3,
    h4,
    h5,
    div,
    p,
    small,
    ul,
    li {
      color: rgba(76,175,80 ,1) !important;
    }
    > div:first-child {
      background-color: rgba(255, 255, 255, 0.3);
      border-top: 1px solid rgba(76,175,80 ,1);
      border-bottom: 1px solid rgba(76,175,80 ,1);
      box-sizing: border-box;
    }
  }
  > div:first-child {
    border-top: 1px solid rgba(76,175,80 ,0);
    border-bottom: 1px solid rgba(76,175,80 ,0);
    box-sizing: border-box;
    &.divider {
      border-top: 1px solid rgba(76,175,80 ,0.5);
      border-bottom: 1px solid rgba(76,175,80 ,0.5);
    }
  }
}

@mixin sm-screen {
  #top-container {
    position: relative;
    margin-top: -95vh;
  }
  #top-container-page {
    position: relative;
    margin-top: -100vh;
  }
  #main-container {
    position: relative;
    min-height: 20em;
  }
  #main-container-page {
    position: relative;
    min-height: 20em;
    margin-top: -80vh;
  }
  #page-title {
    min-height: 20vh;
  }
}

@mixin md-screen {
  #top-container {
    position: sticky;
    top: 67px;
    margin-top: -100vh;
    height: 100%;
  }
  #top-container-page {
    position: sticky;
    top: 67px;
    margin-top: -100vh;
    height: 100%;
  }
  #main-container {
    position: relative;
    margin-top: -100vh;
    min-height: 20em;
  }
  #main-container-page {
    position: relative;
    margin-top: -95vh;
    min-height: 20em;
  }
  #page-title {
    min-height: 35vh;
  }
}

@include media-breakpoint-down(md) {
  @include sm-screen;
}

@include media-breakpoint-up(lg) {
  @include md-screen;
}

#title-logo {
  width: 100%;
  height: auto;
}

.white-shadow {
  color: #ffffff;
  text-shadow: 0px 0px 20px $black;
}

.bg-transparent-25 {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.h-90 {
  height: 90%;
}
.max-vh-25 {
  max-height: 25vh;
}

.min-h-190px {
  min-height: 190px;
}

#main-slogan {
  min-height: 75vh;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.95);
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.etude-img {
  background-image: url({{site.baseurl}}/img/etudeGE.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.separator {
  height: 3em;
  display: grid;
  p {
    color: $white;
    text-align: center;
    margin: auto 0;
    font-size: 5vh;
    text-shadow: 0px 0px 10px $black;
  }
}

#page-footer {
  // background-image: url(/img/topography.png);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pre {
    color: $gray-400;
  }
}

/* Share Bar */
#share-bar {
  font-size: 1rem;
}

/* Title */

/* All buttons */
.share-buttons a:hover {
  text-decoration: none;
}

/* Each button */
.share-button {
  margin: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid #d3d6d2;
  padding: 5px 10px 5px 10px;
}
.share-button:hover {
  opacity: 1;
  color: #ffffff;
}

/* Facebook button */
.fa-facebook {
  color: #3b5998;
}
.fa-facebook:hover {
  background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  color: #55acee;
}
.fa-twitter:hover {
  background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39;
}
.fa-google-plus:hover {
  background-color: #dd4b39;
}

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5;
}
.fa-linkedin:hover {
  background-color: #007bb5;
}

/* Email button */
.fa-envelope {
  color: #444444;
}
.fa-envelope:hover {
  background-color: #444444;
}
