---
---

@import 'bootstrap/bootstrap';
// @import 'variables';
// @import 'bootswatch';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';

body {
  background-image: url(/img/topography.png);
  position: relative;
  min-height: 100vh;
}

#header-top {
  background-color: rgba(255, 255, 255, 0);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-home {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 85vh;
  // display: grid;
  border-bottom: solid 8px #d7d6e4;
}

#header-bottom {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 75vh;
  display: grid;
  border-bottom: solid 8px #d7d6e4;
}

.sticky-nav {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.sticky-bg {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 85vh;
  border-bottom: solid 8px #d7d6e4;
}

#top-container {
  position: relative;
  margin-top: -75vh;
}

.white-shadow {
  color: #ffffff;
  text-shadow: 0px 0px 20px $black;
}

#main-slogan {
  min-height: 20vh;
}

#main-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 20em;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.etude-img {
  background-image: url({{site.baseurl}}/img/etudeGE.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.separator {
  height: 3em;
  display: grid;
  p {
    color: $white;
    text-align: center;
    margin: auto 0;
    font-size: 5vh;
    text-shadow: 0px 0px 10px $black;
  }
}

#page-footer {
  position: relative;
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pre {
    color: $gray-400;
  }
}
