---
---

@import 'bootstrap/bootstrap';
// @import 'variables';
// @import 'bootswatch';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';

@font-face {
  font-family: "xylosuite title";
  src: url("/fonts/larabiefont\ rg.ttf");
}

$font-size-base: 1.05rem !default; // Assumes the browser default, typically `16px`

body {
  background-image: url(/img/topography.png);
  position: relative;
  min-height: 100vh;
}

#header-top {
  background-color: rgba(255, 255, 255, 0);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-home {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 100vh;
  border-bottom: solid 8px #d7d6e4;
}

#header-bottom {
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  height: 50vh;
  border-bottom: solid 8px #d7d6e4;
}

.sticky-nav {
  // background-image: url(/img/topography.png);
  position: sticky;
  top: 0px;
  z-index: 100;
}

// .sticky-bg {
//   position: sticky;
//   position: -webkit-sticky;
//   top: 55px;
//   height: 85vh;
//   border-bottom: solid 8px #d7d6e4;
// }

.img-logo {
  height: 36px;
}

.img-logo-xl {
  height: 48px;
}

.xylosuite-title {
  font-family: 'xylosuite title';
  text-align: left;
}

@mixin sm-screen {
  #top-container {
    position: relative;
    margin-top: -95vh;
  }
  #top-container-page {
    position: relative;
    margin-top: -100vh;
  }
  #main-container {
    position: relative;
    min-height: 20em;
  }
  #main-container-page {
    position: relative;
    min-height: 20em;
    margin-top: -80vh;
  }
  #page-title {
    min-height: 20vh;
  }
}

@mixin md-screen {
  #top-container {
    position: sticky;
    top: 67px;
    margin-top: -100vh;
    height: 100%;
  }
  #top-container-page {   
    position: sticky;
    top: 67px;
    margin-top: -100vh;
    height: 100%;
  }
  #main-container {
    position: relative;
    margin-top: -100vh;
    min-height: 20em;
  }
  #main-container-page {
    position: relative;
    margin-top: -95vh;
    min-height: 20em;
  }
  #page-title {
    min-height: 35vh;
  }
}

@include media-breakpoint-down(md) {
  @include sm-screen; 
}

@include media-breakpoint-up(lg){
  @include md-screen; 
}



#title-logo {
  width: 100%;
  height: auto;
}

.white-shadow {
  color: #ffffff;
  text-shadow: 0px 0px 20px $black;
}

.bg-transparent-25 {
  background-color: rgba(255,255,255,0.75)
}

.bg-dark-50 {
  background-color: rgba(0,0,0,0.50)
}

.h-90 {
  height: 90%;
}
.max-vh-25 {
  max-height: 25vh;
}

.min-h-190px {
  min-height: 190px;
}

#main-slogan {
  min-height: 75vh;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.87);
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.etude-img {
  background-image: url({{site.baseurl}}/img/etudeGE.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.separator {
  height: 3em;
  display: grid;
  p {
    color: $white;
    text-align: center;
    margin: auto 0;
    font-size: 5vh;
    text-shadow: 0px 0px 10px $black;
  }
}

#page-footer {
  // background-image: url(/img/topography.png);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pre {
    color: $gray-400;
  }
}
