---
layout: default
title: Xylolink
place: left
menu: main
index: 1
---

<div class="row justify-content-center text-justify">
        <div class="col-10">
            {{ site.presentation | markdownify }}
        </div>
    </div>
    <hr>
    <h3 class="text-center">Services</h3>    
    <div class="row">
    {% assign cols = "etudes,logistique,technologies" | split: "," %}
    {% for col in cols %}
    {% for item in site.[col] | limit: 1 %}
    <div class="col-sm mx-3">
        <div class="card mb-3">
            <h5 class="card-header">{{col | capitalize}}</h5>
            <div class="card-body">
                <h6 class="card-title">{{item.title}}</h6></a>
            </div>
            <img class="img-fluid" src="{{item.thumb}}" alt="Card image">
            <div class="card-body py-2">
                    <a href="{{item.url}}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    </div>
    <hr>
    <h3 class="text-center">Références</h3>
    <div class="row">
    {% for item in site.references %}
    <div class="col border rounded mx-2 d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="{{item.thumb}}">
    </div>
    {% endfor %}
    </div>
</div>