---
layout: default
---

<div class="row justify-content-center text-justify mt-2">
  <div class="col-10">
    {% assign sorted = (site.actus | sort: 'date') | reverse %} {% for post in sorted %}
    <article>
      <a href="{{ post.url | prepend: site.baseurl }}" class="text-dark">
        <h2>
          {{ post.title }}
        </h2>
      </a>      
      <div class="row">
        <div class="col-md-12">         
          <p>{{ post.excerpt }}</p>
          <div class="col-12 text-right">
            <a class="btn btn-outline-primary btn-sm" href="{{ post.url | prepend: site.baseurl }}">lire la suite</a>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="mr-2 d-flex flex-wrap justify-content-star col-8 pl-0 flex-grow-1 mw-100">
              {% for tag in post.tags %}
              <span class="badge badge-info mr-1 my-1 font-weight-normal p-2 ">{{ tag }}</span>
              {% endfor %}
            </div>
            <h6 class="m-0 ml-2">
              <small><span>{% include date.html date=post.date %}</span></small>
            </h6>
          </div>
        </div>
        
      </div>
    </article>
    <hr class="style2" />
    {% endfor %}
  </div>
</div>
