---
layout: page-full
---
{% for post in site.posts  %}
{% if post.categories contains page.ref %}
<article>

        <h3>
            {{ post.title }}
        </h3>

        <div class="row">

            <div class="col-md-12">
                <span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="label label-default">{{ site.author }}</span>
                <p>{{ post.excerpt }}</p>
            </div>

        </div>

</article>
<hr class="style2">

{% endif %}
{% endfor %}
<p class="rss-subscribe">S'abonner <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
