---
layout: default
---

<div class="row">
  <div class="col">
    <h2>{{ page.title }}</h2>
    {% assign sorted = (site.[page.collection] | sort: 'date') | reverse %} {% for item in sorted %}
    <article>
      <a href="{{ item.url | prepend: site.baseurl }}">
        <div class="divider py-3">
          <h3>{{ item.title }}</h3>
          <div class="row">
            <div class="col-3">
              <img class="img-responsive img-thumbnail" src=" {{ item.thumb }}" />
            </div>
            <div class="col-9">
              <!-- <span class="badge badge-secondary">{{ item.date | date: "%b %-d, %Y" }}</span> -->
              <span class="badge badge-secondary">{{ item.tags | join: ', ' }}</span>
              <p>
                {% if item.subtitle %} {{ item.subtitle | markdownify }}{% else %}{{ item.excerpt | markdownify }}{%
                endif %}
              </p>
            </div>
          </div>
        </div>
      </a>
    </article>
    {% endfor %}
  </div>
  <!-- <div class="col-3">
        <h4>Derniers articles</h4>
        {% for item in site.actus  %}
        <div class="position-relative">
            <span class="badge badge-secondary">{{item.date | date: "%b %-d, %Y"}}</span>
            <a href="{{item.url}}" class="stretched-link">
                <h6>{{item.title}}</h6>
            </a>
        </div>
        {%endfor%}
        <hr class="style2">
        <h4>Autres services</h4>
        {%- assign collection = site.collection -%}
        {% for collection in site.collections %}
        {%- unless collection.label == 'posts' or collection.label == 'actus' or collection.label == 'references' -%}
        {%- for item in site.[collection.label] | limit: 1 -%}
        <div class="position-relative">
            <span class="badge badge-secondary">{{collection.label | capitalize}}</span>
            <a href="{{item.url}}" class="stretched-link">
                <h6>{{item.title}}</h6>
            </a>
        </div>
        {%- endfor -%}
        {%- endunless -%}
        {%endfor%}
    </div> -->
</div>
