<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %} {% include nav.html %} {%- if page.title == "Xylolink" -%}
    <div
      id="header-home"
      class="parallax-bg"
      style="background-image: url({{ site.baseurl }}/img/{%if page.img %}{{page.img}}{%else%}{{"banner.jpg"}}{%endif%});"
    ></div>
    
    {%- else -%}
    <div 
        id="header-bottom" class="parallax-bg"
        style="background-image: url({{ site.baseurl }}/img/{%if page.img %}{{page.img}}{%else%}{{"banner.jpg"}}{%endif%});"
    >
    </div>
    {%- endif -%}

    <div id="top-container">
      <div class="container py-3">
        {%- if page.title == "Xylolink" -%}
        <div id="main-slogan">
          <h2 class="white-shadow align-text-middle border-bottom">
            {{ site.slogan }}
          </h2>
        </div>
        {%- else -%}
        <h2 class="white-shadow align-text-middle border-bottom">
          {%if page.type%}{{ page.type | capitalize }}{%else%}{{ page.title }}{%endif%}
        </h2>
        {% endif %}
      </div>
    </div>
    <div id="main-container" class="container rounded-top pt-5 mb-5">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
